@model Northwind.Web.Models.ViewModels.FarClause.FarContractTypeViewModel
<div class="row">

    <div class="col-md-6" id="@Model.Code">
        <div class="form-group">
            <label class="control-label">
                Code
            </label>
            <h5>
                @Model.Code
            </h5>
        </div>
    </div>

    <div class="col-md-6" id="@Model.Title">
        <div class="form-group">
            <label class="control-label">
                Title
            </label>
            <h5>
                @Model.Title
            </h5>
        </div>
    </div>
</div>