<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Extended" />
    <add assembly="NLog.Appsettings.Standard" />
  </extensions>
  
  <targets>
    <target name="EventLog"  xsi:type="Database" dbProvider="sqlserver" connectionString="${appsettings:name=ConnectionStrings.ESSConnectionString}"
      commandText ="
        INSERT INTO [EventLog]
        ([Application]
        ,[EventDate]
        ,[UserGuid]
        ,[Resource]
        ,[Action]
        ,[Message]
        ,[StackTrace])
        VALUES
        ( @Application
        ,@EventDate
        ,@UserGuid
        ,@Resource
        ,@Action
        ,@Message
        ,@StackTrace)">
      
      <parameter name="@Application" layout="${event-properties:Application}"/>
      <parameter name="@EventDate" layout="${event-properties:EventDate}"/>
      <parameter name="@UserGuid" layout="${event-properties:UserGuid}"/>
      <parameter name="@Resource" layout="${event-properties:Resource}" />
      <parameter name="@Action" layout="${event-properties:Action}"/>
      <parameter name="@Message" layout="${event-properties:Message}"/>
      <parameter name="@StackTrace" layout="${event-properties:StackTrace}"/>
      
    </target>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="database" />-->
    <logger name="*" levels="Error,Warn,Fatal,Info,Trace" minlevel="Trace"  writeTo="EventLog" />
    <!--<logger name="*" minlevel="Debug" writeTo="database" />-->

    <!--<logger name="*" minlevel="Debug" writeTo="m" />-->
    <!-- add your logging rules here -->
  </rules>
</nlog>
