<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Extended" />
    <add assembly="NLog.Appsettings.Standard" />
  </extensions>

  <targets>
    <!--<target name="m" xsi:type="MethodCall" className="Northwind.Web.AuditLog.AuditLogHandler, Northwind.Web" methodName="LogMethod">
      <parameter  layout="${level}" />
      <parameter  layout="${message}" />
      <parameter  layout="${gdc:data}"/>
      <parameter  layout="${gdc:resourceName}"/>
      <parameter  layout="${gdc:resourceId}" />
      <parameter  layout="${gdc:actor}" />
      <parameter  layout="${gdc:ipAddress}" />
      <parameter  layout="${gdc:action}"/>
      <parameter  layout="${gdc:actionResult}"/>
      <parameter  layout="${gdc:actionResultReason}"/>
      <parameter  layout="${gdc:additonalInformation}"/>
      <parameter  layout="${gdc:additionalInformationURL}"/>
    </target>-->

    <target name="database" xsi:type="Database" connectionString="${appsettings:name=ConnectionStrings.ESSConnectionString}"
      commandText ="
        INSERT INTO [dbo].[AuditLog]
        (
        RawData,
        TimeStamp,
        Resource,
        ResourceId,
        Actor,
        ActorId,
        IPAddress,
        Action,
        ActionId,
        ActionResult,
        ActionResultReason,
        AdditionalInformation,
        AdditionalInformationURl
        )
        VALUES (
        @RawData,
        @TimeStamp,
        @Resource,
        @ResourceId,
        @Actor,
        @ActorId,
        @IPAddress,
        @Action,
        @ActionId,
        @ActionResult,
        @ActionResultReason,
        @AdditionalInformation,
        @AdditionalInformationURl
        )">

      <parameter name="@RawData" layout="${gdc:RawData}"/>
      <parameter name="@TimeStamp" layout="${gdc:TimeStamp}"/>
      <parameter name="@Resource" layout="${gdc:ResourceName}"/>
      <parameter name="@ResourceId" layout="${gdc:ResourceId}" />
      <parameter name="@Actor" layout="${gdc:Actor}"/>
      <parameter name="@ActorId" layout="${gdc:ActorId}"/>
      <parameter name="@IPAddress" layout="${gdc:IPAddress}"/>
      <parameter name="@Action" layout="${gdc:Action}"/>
      <parameter name="@ActionId" layout="${gdc:ActionId}"/>
      <parameter name="@ActionResult" layout="${gdc:ActionResult}"/>
      <parameter name="@ActionResultReason" layout="${gdc:ActionResultReason}"/>
      <parameter name="@AdditionalInformation" layout="${gdc:AdditionalInformation}"/>
      <parameter name="@AdditionalInformationURl" layout="${gdc:AdditionalInformationURl}"/>
      <!-- custom field! -->

     
    </target>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="database" />-->
    <logger name="*" minlevel="Info"  writeTo="database" />
    <!--<logger name="*" minlevel="Debug" writeTo="database" />-->

    <!--<logger name="*" minlevel="Debug" writeTo="m" />-->
    <!-- add your logging rules here -->
  </rules>
</nlog>
