@{
    ViewData["Title"] = "Export";
}
<div>
    <h4>Export</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form id="frmExport" method="post" onsubmit="return false;">
                <div class="form-horizontal">
                    <div class="row-fluid" id="field">
                        <div class="col-12 parent">
                            <div class="form-group row">
                                <input type="checkbox" class="form-control col-1" id="c1" style="width:15px" /> <label class="col-6 control-label" for="c1">test</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>