<loading-gif [show]="showLoadingGif"></loading-gif>
<div class="clearfix">
    <span class="icon-text" style="float:right;" *ngIf="vehicleToDriveTypeSearchViewModel && vehicleToDriveTypeSearchViewModel.totalCount">Reading <strong>1000</strong> of <strong>{{vehicleToDriveTypeSearchViewModel.totalCount}}</strong> matching records</span>
</div>

<!-- Drive Type unfolded start -->
<div class="table-wrap">
    <h2 class="foldable clearfix">
        <a [ngClass]="{fold:isDriveTypeExpanded, unfold:!isDriveTypeExpanded}" (click)="isDriveTypeExpanded=!isDriveTypeExpanded"></a>
        Drive Type
        <a class="btn blue icon add" (click)="onNew()">NEW</a>
    </h2>
    <div class="ctable">
        <ac-grid #driveTypeGrid [dataSource]="vehicleToDriveTypeSearchViewModel.result.driveTypes" #gd="acGrid"
                  columns='[
                 { "header":" ", "selectable": {"selected": true}},
                 { "header":"Drive Type ID",        "field":"id",                   "sortable":true,"sortedByDesc":true },
                 { "header":"Drive Type Name",   "field":"name",   "sortable":true},
                 { "header":"Change Requests"}
                 ]'
                  initialSortBy='[{"field": "id", "orderByDesc": true}]'
                  paging='{"pageSize": 10, "numberOfPagesOnPageList" : 10}'
                  (selectAllChangedEvent)="onSelectAllDriveType($event)" [selectAllChecked]="isSelectAllDriveTypes"
                  [thresholdRecordCount]="thresholdRecordCount">
            <tr *ngFor="let driveType of gd.items; let whenOdd=odd; let whenEven=even;" [ngClass]="{'table-even-row':whenOdd, 'table-odd-row':whenEven}">
                <td>
                    <label class="control control--checkbox green-checkbox">
                        <input type="checkbox"  [(ngModel)]="driveType.isSelected" (change)="onDriveTypeSelected(driveType)">
                        <div class="control__indicator"></div>
                    </label>
                </td>
                <td>{{driveType.id}}</td>
                <td>{{driveType.name}}</td>
                <td class="Pending" *ngIf="driveType.changeRequestId && driveType.changeRequestId != -1">
                    <a (click)="onViewDriveTypeCr(driveType)" style="cursor: pointer;" class="btn-r-arrow blue">Pending</a>
                </td>
                <td *ngIf="!driveType.changeRequestId || driveType.changeRequestId == -1">
                    <a class="box-icon pencil" style="cursor: pointer;" title="Edit" (click)="onModify(driveType)"></a>
                    <a class="box-icon delete" title="Delete" (click)="onDelete(driveType)"></a>
                    <a class="box-icon shuffle" title="Replace" (click)="routerLinkRedirect('/drivetype/replace/',driveType.id)"></a>
                </td>
            </tr>
        </ac-grid>
    </div>
</div>

<!-- Associated vehicles folded start -->
<div class="table-wrap">
    <h2 class="foldable clearfix">
        <a [ngClass]="{fold:isAssociatedVehiclesExpanded, unfold:!isAssociatedVehiclesExpanded}" (click)="isAssociatedVehiclesExpanded=!isAssociatedVehiclesExpanded"></a>
        Associated Vehicles
        <a class="btn blue icon add" (click)="onSelectedNewDriveTypeAssociation()">NEW</a>
    </h2>
    <div class="ctable" [ngClass]="{unfolded:isAssociatedVehiclesExpanded, folded:!isAssociatedVehiclesExpanded}">
        <ac-grid #vehicleToDriveTypeGrid [dataSource]="vehicleToDriveTypesForSelectedDriveType" #gd1="acGrid"
                 columns='[
                         { "header":"Vehicle to Drive Type ID",   "field":"id",                   "sortable":true},
                         { "header":"Drive Type (ID)",                "field":"bedConfigId",    "sortable":true},
                         { "header":"Base Vehicle ID",                   "field":"vehicle.id",           "sortable":true},
                         { "header":"Year",                         "field":"vehicle.yearId",       "sortable":true},
                         { "header":"Make (ID)",                    "field":"vehicle.makeName",     "sortable":true},
                         { "header":"Model (ID)",                   "field":"vehicle.modelName",    "sortable":true},
                         { "header":"Vehicle ID",                   "field":"vehicle.id",           "sortable":true},
                         { "header":"Submodel (ID)",                "field":"vehicle.subModelName", "sortable":true},
                         { "header":"Region (ID)",                  "field":"regionName",           "sortable":true},
                         { "header":"Change Requests"}
                         ]'
                 initialSortBy='[{"field": "id", "orderByDesc": true}]'
                 paging='{"pageSize": 10, "numberOfPagesOnPageList" : 10}'>
            <tr *ngFor="let selection of gd1.items">
                <td>{{selection.id}}</td>
                <td>{{selection.name}} ({{selection.driveType.id}})</td>
                <td>{{selection.vehicle.baseVehicleId}}</td>
                <td>{{selection.vehicle.yearId}}</td>
                <td>{{selection.vehicle.makeName}} ({{selection.vehicle.makeId}})</td>
                <td>{{selection.vehicle.modelName}} ({{selection.vehicle.modelId}})</td>
                <td>{{selection.vehicle.id}}</td>
                <td>{{selection.vehicle.subModelName}} ({{selection.vehicle.subModelId}})</td>
                <td>{{selection.vehicle.regionName}} ({{selection.vehicle.regionId}})</td>
                <td *ngIf="selection.changeRequestId && selection.changeRequestId != -1">
                    <a (click)="onViewAssociatedVehiclesCr(selection)" style="cursor: pointer;" class="btn-r-arrow blue">Pending</a>
                </td>
                <td *ngIf="!selection.changeRequestId || selection.changeRequestId == -1">
                    <a class="box-icon delete" title="Delete" (click)="onDeleteVehicleToDriveType(selection)"></a>
                </td>
            </tr>
        </ac-grid>
    </div>
</div>

<modal #newPopup>
    <div class="overlay dark show">
        <div class="new-make">
            <a (click)="onCancel()" class="close"></a>
            <div class="add-form">
                <h2>New Drive Type</h2>
                <div class="clearfix">

                    <div class="input-blocks clearfix">
                        <strong>Drive Type</strong>
                        <input type="text" autofocus class="cinput" [(ngModel)]="driveType.name" class="cinput" maxlength="10" placeholder="New Drive Type"/>
                    </div>

                    <div class="attach-wrap">
                        <strong>OPTIONAL</strong>

                        <ac-fileuploader upload-api-path="file/savechunk" delete-api-path="file/deleteblob" #newPopupAcFileUploader></ac-fileuploader>
                        <small>Include comments</small>
                        <textarea cols="50" rows="5" [(ngModel)]="driveType.comment"></textarea>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Submit and cancel button start -->
                    <div class="btns">
                        <input type="submit" value="CANCEL" class="btn transparent" (click)="onCancel()"/>
                        <input type="submit" value="SUBMIT" class="btn" (click)="onNewSubmit()"/>
                    </div>

                </div>
            </div>
        </div>
    </div>

</modal>

<modal #modifyPopup>
    <div class="overlay dark show">
        <div class="new-make">
            <a (click)="onCancel()" class="close"></a>
            <div class="add-form">
                <h2>Edit Drive Type</h2>
                <div class="clearfix">

                    <div class="input-blocks clearfix">
                        <strong>Drive Type</strong>
                        <input type="text" autofocus class="cinput" maxlength="10" [(ngModel)]="modifiedDriveType.name" />
                    </div>

                    <div class="warning-wrap">
                        <div>
                            <strong>Associated records will be impacted</strong>
                            <span>
                                {{driveType.vehicleToDriveTypeCount}} VehicleToDriveTypes
                            </span>
                        </div>
                    </div>

                    <div class="attach-wrap">
                        <strong>OPTIONAL</strong>

                        <ac-fileuploader upload-api-path="file/savechunk" #modifyPopupAcFileUploader="acFileUploader"></ac-fileuploader>
                        <small>Include comments</small>
                        <textarea cols="50" rows="5" [(ngModel)]="modifiedDriveType.comment"></textarea>
                    </div>

                    <div class="clearfix"></div>


                    <div class="btns">
                        <input type="submit" value="CANCEL" class="btn transparent" (click)="onCancel()" />
                        <input type="submit" value="SUBMIT" class="btn" (click)="onModifySubmit()" />
                    </div>

                </div>
            </div>
        </div>
    </div>

</modal>

<modal #deleteConfirmPopup>

    <div class="overlay dark show">
        <div class="new-make">
            <a (click)="onCancel()" class="close"></a>
            <div class="add-form">
                <h2>Remove Drive Type</h2>
                <div class="clearfix">

                    <div class="warning-wrap confirmation">
                        <div>
                            <strong>Please confirm that you wish to remove Drive Type with name "{{driveType.name}}" </strong>
                        </div>
                    </div>
                    <div class="attach-wrap">
                        <strong>OPTIONAL</strong>

                        <ac-fileuploader upload-api-path="file/savechunk" #deletePopupAcFileUploader="acFileUploader"></ac-fileuploader>
                        <small>Include comments</small>
                        <textarea cols="50" rows="5" [(ngModel)]="driveType.comment"></textarea>
                    </div>

                    <div class="btns">
                        <input type="submit" value="CANCEL" class="btn transparent" (click)="onCancel()">
                        <input type="submit" value="CONFIRM" class="btn" (click)="onDeleteConfirm()">
                    </div>

                </div>
            </div>
        </div>
    </div>

</modal>

<modal #deleteErrorPopup>

    <div class="overlay dark show">
        <div class="new-make">
            <a data-dismiss="modal" class="close"></a>
            <div class="add-form">
                <h2>Remove Drive Type</h2>
                <div class="clearfix">

                    <div class="warning-wrap delete-error-wrap">
                        <div>
                            <strong>Associated records will be impacted</strong>
                            <span>
                                {{driveType.vehicleToDriveTypeCount}} VehicleToDriveTypes
                            </span>
                        </div>
                    </div>

                    <div class="btns">
                        <input type="submit" value="CANCEL" class="btn blue" (click)="onCancel()">
                    </div>

                </div>
            </div>
        </div>
    </div>

</modal>

<modal #deleteDriveTypeAssociationPopup>
    <div class="overlay dark show" *ngIf="deleteVehicleToDriveType">
        <div class="new-make">
            <a class="close" (click)="deleteDriveTypeAssociationPopup.dismiss()"></a>
            <div class="add-form">
                <h2>Delete DriveType Association</h2>
                <div class="clearfix">

                    <div class="input-blocks clearfix">
                        <div>
                            <strong>Base ID</strong>
                            {{deleteVehicleToDriveType.vehicle.baseVehicleId}}
                        </div>

                        <div>
                            <strong>Vehicle ID</strong>
                            {{deleteVehicleToDriveType.vehicle.id}}
                        </div>

                        <div>
                            <strong>Drive Type ID</strong>
                            {{deleteVehicleToDriveType.name}} ({{deleteVehicleToDriveType.driveType.id}})
                        </div>
                    </div>

                    <div class="attach-wrap">
                        <strong>OPTIONAL</strong>
                        <ac-fileuploader upload-api-path="file/savechunk"></ac-fileuploader>
                        <small>Include comments</small>
                        <textarea cols="50" rows="5" [(ngModel)]="deleteVehicleToDriveType.comment"></textarea>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Submit and cancel button start -->
                    <div class="btns">
                        <input type="reset" value="CANCEL" class="btn transparent" (click)="deleteDriveTypeAssociationPopup.dismiss()">
                        <input type="submit" value="SUBMIT" class="btn" (click)="onDeleteVehicleToDriveTypeSubmit()">
                    </div>

                </div>
            </div>
        </div>
    </div>
</modal>

