<loading-gif [show]="showLoadingGif"></loading-gif>
<div class="add-form">
    <h2>
        MFR Body Code Filters
        <a class="btn larger" (click)="onClearFilters()">CLEAR</a>
        <a class="btn icon search larger" (click)="search()">SEARCH SYSTEMS</a>
    </h2>

    <div class="clearfix">
        <div class="input-blocks clearfix">
            <!--First Column-->
            <div style="width: 215px;">
                <div class="filter-search green-submit">
                    <input type="text" class="cinput" placeholder="Search MFR Body Code ID" title="Search by MFR Body Code ID" [(ngModel)]="mfrBodyCodeId" (keypress)="onMfrBodyCodeKeyPress($event)">
                    <input type="submit" value="" (click)="searchByMfrBodyCodeId()">
                </div>
                <div style="margin-top: 50px;">
                    <strong class="float-left">Regions</strong>
                    <a class="float-right" (click)="clearFacet(vehicleToMfrBodyCodesSearchViewModel.facets.regions)" style="text-decoration: underline; cursor: pointer;">Clear</a>
                    <div class="clearfix"></div>
                    <div class="filter-search">
                        <input type="text" class="cinput" placeholder="Search Regions" (input)="filterRegions($event)" />
                        <input type="submit" value="">
                    </div>

                    <div class="clearfix"></div>

                    <div class="checkbox-wrap after-search" style="overflow: auto; height: 100px;">
                        <ul>
                            <li *ngFor="let region of regionFacet">
                                <label class="control control--checkbox green-checkbox">
                                    <input type="checkbox" [value]="region.name" [(ngModel)]="region.isSelected" (change)="onItemSelected($event, vehicleToMfrBodyCodesSearchViewModel.facets.regions)">
                                    <div class="control__indicator"></div>
                                    <span>{{region.name}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <strong>Years</strong>
                    <div class="select white-select" style="width: 100px;">
                        <select [(ngModel)]="selectedStartYear" (ngModelChange)="onYearSelected()">
                            <option value="0">--From--</option>
                            <option *ngFor="let year of startYearFacet" [value]="year">{{year}}</option>
                        </select>
                        <div class="select__arrow white-select__arrow"></div>
                    </div>
                    <span class="fa fa-caret-right"></span><!--pushkar-->
                    <div class="select white-select" style="width: 100px;">
                        <select [(ngModel)]="selectedEndYear" (ngModelChange)="onYearSelected()">
                            <option value="0">--To--</option>
                            <option *ngFor="let year of endYearFacet" [value]="year">{{year}}</option>
                        </select>
                        <div class="select__arrow white-select__arrow"></div>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <strong class="float-left">Submodels</strong>
                    <a class="float-right" (click)="clearFacet(vehicleToMfrBodyCodesSearchViewModel.facets.subModels, false)" style="text-decoration: underline; cursor: pointer;">Clear</a>
                    <div class="clearfix"></div>
                    <div class="filter-search">
                        <input type="text" class="cinput" placeholder="Search Submodels" (input)="filterSubModels($event)" />
                        <input type="submit" value="">
                    </div>

                    <div class="clearfix"></div>

                    <div class="checkbox-wrap after-search" style="overflow: auto; height: 160px;">
                        <ul>
                            <li *ngFor="let subModel of subModelFacet">
                                <label class="control control--checkbox green-checkbox">
                                    <input type="checkbox" [value]="subModel.name" [(ngModel)]="subModel.isSelected">
                                    <div class="control__indicator"></div>
                                    <span>{{subModel.name}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



       
        <!--Second Column-->
        <div style="width: 215px;">
            <div style="margin-top: 47px;">
                <strong class="float-left">Vehicle Type Groups</strong>
                <a class="float-right" (click)="clearFacet(vehicleToMfrBodyCodesSearchViewModel.facets.vehicleTypeGroups)" style="text-decoration: underline; cursor: pointer;">Clear</a>
                <div class="clearfix"></div>
                <div class="filter-search">
                    <input type="text" class="cinput" placeholder="Search Vehicle Type Groups" (input)="filterVehicleTypeGroups($event)" />
                    <input type="submit" value="">
                </div>

                <div class="clearfix"></div>

                <div class="checkbox-wrap after-search" style="overflow: auto; height: 100px;">
                    <ul>
                        <li *ngFor="let item of vehicleTypeGroupFacet">
                            <label class="control control--checkbox green-checkbox">
                                <input type="checkbox" [value]="item.name" [(ngModel)]="item.isSelected" (change)="onItemSelected($event, vehicleToMfrBodyCodesSearchViewModel.facets.vehicleTypeGroups)">
                                <div class="control__indicator"></div>
                                <span>{{item.name}}</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <strong class="float-left">Makes</strong>
                <a class="float-right" (click)="clearFacet(vehicleToMfrBodyCodesSearchViewModel.facets.makes)" style="text-decoration: underline; cursor: pointer;">Clear</a>
                <div class="clearfix"></div>
                <div class="filter-search">
                    <input type="text" class="cinput" placeholder="Search Makes" (input)="filterMakes($event)" />
                    <input type="submit" value="">
                </div>

                <div class="clearfix"></div>

                <div class="checkbox-wrap after-search" style="overflow: auto; height: 160px;">
                    <ul>
                        <li *ngFor="let make of makeFacet">
                            <label class="control control--checkbox green-checkbox">
                                <input type="checkbox" [value]="make.name" [(ngModel)]="make.isSelected" (change)="onItemSelected($event, vehicleToMfrBodyCodesSearchViewModel.facets.makes)">
                                <div class="control__indicator"></div>
                                <span>{{make.name}}</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Third Column-->

        <div style="width: 215px;">

            <div style="margin-top: 47px;">
                <strong class="float-left">Vehicle Types</strong>
                <a class="float-right" (click)="clearFacet(vehicleToMfrBodyCodesSearchViewModel.facets.vehicleTypes)" style="text-decoration: underline; cursor: pointer;">Clear</a>
                <div class="clearfix"></div>
                <div class="filter-search">
                    <input type="text" class="cinput" placeholder="Search Vehicle Types" (input)="filterVehicleTypes($event)" />
                    <input type="submit" value="">
                </div>

                <div class="clearfix"></div>

                <div class="checkbox-wrap after-search" style="overflow: auto; height: 100px;">
                    <ul>
                        <li *ngFor="let item of vehicleTypeFacet">
                            <label class="control control--checkbox green-checkbox">
                                <input type="checkbox" [value]="item.name" [(ngModel)]="item.isSelected" (change)="onItemSelected($event, vehicleToMfrBodyCodesSearchViewModel.facets.vehicleTypes)">
                                <div class="control__indicator"></div>
                                <span>{{item.name}}</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <strong class="float-left">Models</strong>
                <a class="float-right" (click)="clearFacet(vehicleToMfrBodyCodesSearchViewModel.facets.models)" style="text-decoration: underline; cursor: pointer;">Clear</a>
                <div class="clearfix"></div>
                <div class="filter-search">
                    <input type="text" class="cinput" placeholder="Search Models" (input)="filterModels($event)" />
                    <input type="submit" value="">
                </div>

                <div class="clearfix"></div>

                <div class="checkbox-wrap after-search" style="overflow: auto; height: 160px;">
                    <ul>
                        <li *ngFor="let model of modelFacet">
                            <label class="control control--checkbox green-checkbox">
                                <input type="checkbox" [value]="model.name" [(ngModel)]="model.isSelected" (change)="onItemSelected($event, vehicleToMfrBodyCodesSearchViewModel.facets.models)">
                                <div class="control__indicator"></div>
                                <span>{{model.name}}</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>


