<loading-gif [show]="showLoadingGif"></loading-gif>
<!-- Breadcrumb start -->
<div class="breadcrumb">
    <div class="center">
        <a class="back" routerLink="/system/search">Return to body system search</a>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- Main start -->
<main class="clearfix">

    <div class="center">

        <!-- Existing Body systems start -->
        <div class="table-wrap">
            <h2 class="clearfix">
                Existing Body Systems
            </h2>
            <div class="ctable">
                <table>
                    <thead>
                        <tr>
                            <td>Body Style Config ID</td>
                            <td>Body Num Doors (ID)</td>
                            <td>Body Type (ID)</td>
                        </tr>
                    </thead>
                    <tbody *ngIf="bodyStyleConfig">
                        <tr>
                            <td>{{bodyStyleConfig.id}}</td>
                            <td>{{bodyStyleConfig.numDoors}} ({{bodyStyleConfig.bodyNumDoorsId}})</td>
                            <td>{{bodyStyleConfig.bodyTypeName}} ({{bodyStyleConfig.bodyTypeId}})</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Modify body system form start -->
        <div class="add-form">
            <div class="clearfix">

                <div class="warning-wrap">
                    <div>
                        <strong>Associated records will be impacted</strong>
                        <span *ngIf="bodyStyleConfig">{{bodyStyleConfig.vehicleToBodyStyleConfigCount}} vehicle to body style configurations</span>
                    </div>
                </div>

                <div class="submit-wrap">
                    <input type="submit" value="SUBMIT CHANGE REQUEST" class="btn larger" (click)="deleteSubmit()">
                    <input type="reset" value="CANCEL" class="btn transparent larger" routerLink="/system/search">
                </div>

                <div class="attach-wrap" style="margin-top: 40px;">
                    <strong>OPTIONAL</strong>
                    <ac-fileuploader upload-api-path="file/savechunk"></ac-fileuploader>
                    <small>Include comments</small>
                    <textarea cols="50" rows="5" *ngIf="bodyStyleConfig" [(ngModel)]="bodyStyleConfig.comment"></textarea>
                </div>

            </div>
        </div>
    </div>

</main>
<!-- Main end -->