@model Northwind.Web.Areas.IAM.Models.IAM.ViewModels.GroupViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Northwind.Web
@addTagHelper *, Northwind.Web.Helpers

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" onsubmit="return false">
            <div class="form-group">
                <label asp-for="CN" class="control-label"></label>
                <input asp-for="CN" class="form-control" required />
                <span asp-validation-for="CN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input asp-for="UserGuid" type="hidden" class="form-control" />
            <input asp-for="GroupGuid" type="hidden" class="form-control" />
        </form>
    </div>
</div>
