@model Northwind.Core.AuditLog.Entities.EventLogs
<table class="table">
    <thead>
        <tr>
            <th scope="col">Resource</th>
            <th scope="col">Action</th>
            <th scope="col">StackTrace</th>
            
          

        </tr>
    </thead>
    <tbody>

       
            <tr>
                <td>@Model.Resource</td>
                <td>@Model.Action</td>
                <td>@Model.StackTrace</td>
               
            </tr>
        

    </tbody>
</table>






