@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
ViewData["Title"] = "North Wind Group | Change Password";
ViewData["class"] = "nw-home";
}

<div class="nw-landing-view">
    <div class="row">
        <div class="w-100 alert alert-custom mt-1 mb-4 text-center">
            CostPoint is currently down. We are resolving the problem and it will be back ASAP. Sorry for any
            inconvenience.
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h3 class="text-primary">What You Need to Know <a class="read-more" href="/admin/Archive">See All...</a>
            </h3>
            <div class="slider-landing">
                <div class="slider-left">
                    <img class="slider-img" src="/img/HooverDam.png" alt="">
                    <div class="slider-detail">
                        <h4>Webmail Access for Office 365</h4>
                        <p>North Wind Webmail access for Office 365 users is accessible at the URL
                            https://outlook.office.com. We have experienced problems with users accessing the old
                            Webmail link, so please access your webmail directly at this URL <a href="#">Read
                                More...</a></p>
                    </div>
                </div>
                <div class="slider-right">
                    <div class="slider-nav active">WEBMAIL ACCESS FOR OFFICE 365</div>
                    <div class="slider-nav">North Wind Group Ranks 26 in the Idaho Private 100 Businesses Rankings</div>
                    <div class="slider-nav">North Wind Group Ranks 26 in the Idaho Private 100 Businesses Rankings</div>
                    <div class="slider-nav">North Wind Group Ranks 26 in the Idaho Private 100 Businesses Rankings</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-primary">Values Corner <a href="#" class="read-more">See All...</a></h3>
            <div class="features-post">
                <img src="/img/HooverDam.png" alt="" class="feature-img" />
                <h4 class="text-primary">Webmail Access for Office 365</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque totam laborum doloremque, accusantium
                    iusto impedit modi minus nesciunt iste atque quis amet repellendus, magnam, vel culpa? Suscipit ut
                    expedita sapiente.<br /><br /> We have experienced problems with users accessing the old Webmail
                    link.</p>

            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <h3 class="text-primary mb-0">My Apps <i class="k-icon k-i-info info-tooltip info-tooltip-lg" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nulla ipsam incidunt saepe voluptatum sint, unde doloribus qui, doloremque animi possimus culpa magni error aliquid nihil deleniti numquam non odio!
                " data-role="tooltip"></i></h3>
            <div class="my-app-container">
                <div class="my-app-row">

                    <div class="my-app">
                        <div class="my-app-item">
                            <img src="/img/training.png" alt="">
                            <div class="my-app-name">App name <i class="material-icons">favorite</i></div>
                        </div>
                    </div>
                    <div class="my-app">
                        <div class="my-app-item">
                            <img src="/img/timecard.png" alt="">
                            <div class="my-app-name">App name <i class="material-icons">favorite</i></div>
                        </div>
                    </div>
                    <!-- <div class="my-app">
                        <div class="my-app-item">
                            <img src="/img/HooverDam.png" alt="">
                            <div class="my-app-name">App name <i class="material-icons">favorite</i></div>
                        </div>
                    </div>
                    <div class="my-app">
                        <div class="my-app-item">
                            <img src="/img/HooverDam.png" alt="">
                            <div class="my-app-name">App name <i class="material-icons">favorite</i></div>
                        </div>
                    </div>
                    <div class="my-app">
                        <div class="my-app-item">
                            <img src="/img/HooverDam.png" alt="">
                            <div class="my-app-name">App name <i class="material-icons">favorite</i></div>
                        </div>
                    </div>
                    <div class="my-app">
                        <div class="my-app-item">
                            <img src="/img/HooverDam.png" alt="">
                            <div class="my-app-name">App name <i class="material-icons">favorite</i></div>
                        </div>
                    </div> -->
                    <div class="my-app my-app-add">
                        <div class="my-app-item"> <i class="material-icons">add</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 more-to-know">
            <h3 class="text-primary">More to know</h3>
            <div class="row">
                <div class="col-md-5">
                    <img class="img-fluid" src="/img/HooverDam.png" alt="">
                </div>
                <div class="col-md-7">
                    <h4 class="text-primary">Welcome Baby Morrison! </h4>
                    <p>We are pleased to announce the arrival of Franklin Milton Morrison III (Finn), born October 4th
                        and weighing in at 7 lbs 14 oz. Finn is the son of Juliann Morrison in Project Controls.
                        <br /><br />
                        Congratulations to their family! </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">

        <div class="col-md-6 col-lg-5 col-xl-6">
            <div class="card nw-news">
                <div class="card-header">
                    <h5 class="text-uppercase">Northwind News</h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <img src="/img/no-image.jpg" class="rounded" alt="...">
                                </div>
                                <div class="col-sm-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim qui
                                    dolor
                                    voluptate sint iure, ducimus ipsa blanditiis perspiciatis temporibus quia aspernatur
                                    tenetur
                                    atque distinctio labore quam corporis quisquam, nesciunt sit!</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <img src="/img/no-image.jpg" class="thumbnail-sm rounded align-self-start mr-3"
                                    alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Top-aligned media</h5>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                        turpis. Fusce
                                        condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                                        faucibus.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <img src="/img/no-image.jpg" class="thumbnail-sm rounded align-self-start mr-3"
                                    alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Top-aligned media</h5>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                        turpis. Fusce
                                        condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                                        faucibus.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-4 mt-md-0 col-md-6 col-lg-4 col-xl-4">
            <div class="card nw-announments">
                <div class="card-header">
                    <h5 class="text-uppercase">Announments</h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, minus fugit. Vero,
                                sequi
                                asperiores. Doloremque placeat velit odit ratione nam, excepturi molestiae nulla saepe
                                laudantium ipsa? Reiciendis, molestias quisquam. Necessitatibus?</P>
                        </li>
                        <li class="list-group-item">
                            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, minus fugit. Vero,
                                sequi
                                asperiores. Doloremque placeat velit odit ratione nam, excepturi molestiae nulla saepe
                                laudantium ipsa? Reiciendis, molestias quisquam. Necessitatibus?</P>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3 col-xl-2">
            <div class="row">
                <div class="mt-4 mt-lg-0 col-md-6 col-lg-12">
                    <div class="card nw-events">
                        <div class="card-header">
                            <h5 class="text-uppercase">Events</h5>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">
                                    <div class="media align-items-center">
                                        <img src="/img/no-image.jpg" class="thumbnail-xs mr-3 rounded-circle" alt="...">
                                        <div class="media-body">
                                            <h6 class="mt-0">Top-aligned media</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item list-group-item-action">
                                    <div class="media align-items-center">
                                        <img src="/img/no-image.jpg" class="thumbnail-xs mr-3 rounded-circle" alt="...">
                                        <div class="media-body">
                                            <h6 class="mt-0">Top-aligned media</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item list-group-item-action">
                                    <div class="media align-items-center">
                                        <img src="/img/no-image.jpg" class="thumbnail-xs mr-3 rounded-circle" alt="...">
                                        <div class="media-body">
                                            <h6 class="mt-0">Top-aligned media</h6>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mt-4 col-md-6 col-lg-12">
                    <div class="card nw-links">
                        <div class="card-header">
                            <h5 class="text-uppercase">Links</h5>
                        </div>
                        <div class="card-body p-0">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action">
                                    Cras justo odio
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">Dapibus ac
                                    facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-action">Morbi leo
                                    risus</a>
                                <a href="#" class="list-group-item list-group-item-action">Porta ac
                                    consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-action">Vestibulum at
                                    eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="hire_video-tab" data-toggle="tab" href="#hire-video" role="tab"
                        aria-controls="hire-video" aria-selected="true">New Hire Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" role="tab" aria-controls="link"
                        aria-selected="false">Link</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="hire-video" role="tabpanel" aria-labelledby="hire_video-tab">
                    <div class="nw-tab">
                        <div class="nw-hire-video">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="1280" height="720"
                                    src="https://www.youtube.com/embed/L7OLY4HCctQ" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="profile-tab">...</div>
            </div>
        </div>
    </div> -->
</div>
<!-- <div class="mt-5"></div>
<div class="">
    <div class="row">
        <div class="col">
            <h3 class="text-primary mb-0">What You Need to Know</h3>
        </div>
        <div class="col-auto">
            <div class="input-group mb-3 mb-sm-0"><input placeholder="Search" id="" class="form-control k-textbox"
                    value="">
                <div class="input-group-append">
                    <div class="input-group-text"><a href="javascript:void(0)" class="k-icon k-i-search">&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p>News</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <img src="/img/HooverDam.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-9 col-md-8">
            <h4 class="news-title mb-0">Webmail Access for Office 365</h4>
            <div class="news-date mb-2 small">11/11/2019</div>
            <p class="news-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque totam laborum
                doloremque, accusantium iusto impedit modi minus nesciunt iste atque quis amet repellendus, magnam,
                vel culpa? Suscipit ut expedita sapiente. <a href="" class="text-dark">Read More...</a> </p>
        </div>
    </div>
</div> -->

<!-- <div class="mt-5"></div>

<div class="">
    <div class="row">
        <div class="col">
            <h3 class="text-primary mb-0">What You Need to Know / Values Corner / More to Know</h3>
        </div>
        <div class="col-12">
            <p>News Posts</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="">Date</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="">Front Page Section</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-4 form-group">
                        <label for="">Front Page Image</label>
                        <input type="file" class="form-control" />
                    </div>
                    <div class="col-md-6 form-group form-inline">
                        <div class="form-check mr-4 mt-1 mb-1">
                            <input class="k-checkbox" type="checkbox" id="inlineFormCheck">
                            <label class="k-checkbox-label" for="inlineFormCheck">
                                Show in See Archive View
                            </label>
                        </div>
                        <div class="form-check mt-1 mb-1">
                            <input class="k-checkbox" type="checkbox" id="inlineFormCheck1">
                            <label class="k-checkbox-label" for="inlineFormCheck1">
                                Is Featured
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label for="">Title</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 form-group">
                        <label for="">Front Page Excerpt</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="">1st Image/Video</label>
                        <input type="file" class="form-control" />
                    </div>
                    <div class="col-12 form-group">
                        <label for="Image/Video Caption"></label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 form-group">
                        <a href="" class="btn btn-primary">Add Image</a>
                    </div>
                    <div class="col-12 form-group">
                        <label for="">Body of Article</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="col-12 text-right">
                        <a href="#" class="btn btn-danger">Delete</a>
                        <a href="#" class="btn btn-dark mx-2">Save as Draft</a>
                        <a href="#" class="btn btn-primary">Publish</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="post">
                <div class="post-title">
                    PREVIEW POST - Preview template (3 views - slider / news article page / archive
                </div>
                <div class="post-preview">
                    <div class="post-preview-img">
                        <img src="/img/HooverDam.png" class="img-fluid" alt="">
                        <div class="post-preview-img-caption">helo</div>
                    </div>
                    <div class="post-preview-title">Webmail Access for Office 365
                    </div>
                    <div class="post-preview-date">11/11/2019
                    </div>
                    <div class="post-preview-detail">North Wind Webmail access for Office 365 users is accessible at the
                        URL https://outlook.office.com. We have experienced problems with users accessing the old
                        Webmail link, so please access. We have experienced problems with users accessing the old
                        Webmail link.<br /><br />

                        North Wind Webmail access for Office 365 users is accessible at the URL
                        https://outlook.office.com. We have experienced problems with users accessing the old Webmail
                        link, so please access your webmail directly at this.<br /><br />

                        North Wind Webmail access for Office 365 users is accessible at the URL
                        https://outlook.office.com. We have experienced problems with users accessing the old Webmail
                        link, so please access your webmail directly at this URL.<br /><br />
                    </div>
                    <div class="post-category">Category: <i>News</i></div>
                </div>
            </div>
        </div>
    </div>

</div> -->