<loading-gif [show]="showLoadingGif"></loading-gif>
<user-likes-comp #likeComponent></user-likes-comp>
<main class="clearfix">

    <div class="center" *ngIf="bedTypeChangeRequest">

        <!-- Breadcrumb start -->
        <div class="breadcrumb">
            <a class="back" routerLink={{backNavigation}}>{{backNavigationText}}</a>
        </div>
        <!-- Breadcrumb end -->
        <h2 class="foldable clearfix">
            <span *ngIf="bedTypeChangeRequest.stagingItem.changeType == 'Add'">New</span>
            <span *ngIf="bedTypeChangeRequest.stagingItem.changeType == 'Modify'">Modify</span>
            <span *ngIf="bedTypeChangeRequest.stagingItem.changeType == 'Delete'">Remove</span>
            Bed Type Request
            <span class="float-right" *ngIf="bedTypeChangeRequest.canDelete">
                <input type="submit" value="DELETE" class="btn orange" (click)="onSubmitReview('delete')">
            </span>
        </h2>
        <br />

        <strong>Change Request ID: {{bedTypeChangeRequest.stagingItem.changeRequestId}}</strong>

        <div class="twocol-equal clearfix">
            <div>
                <!-- New -->
                <div *ngIf="bedTypeChangeRequest.stagingItem.changeType == 'Add'">
                    <div class="title-name">
                        <h4>New Bed Type Name</h4>
                        {{bedTypeChangeRequest.entityStaging.name}}
                    </div>
                </div>
                <!-- Modify -->
                <div *ngIf="bedTypeChangeRequest.stagingItem.changeType == 'Modify'">
                    <div class="clearfix">
                        <div class="title-name float-left margin-r-40px">
                            <h4>Original Name</h4>
                            {{bedTypeChangeRequest.entityCurrent.name}}
                        </div>
                        <div class="title-name float-left">
                            <h4>New Name</h4>
                            {{bedTypeChangeRequest.entityStaging.name}}
                        </div>
                    </div>
                    <!-- association information -->
                    <div *ngIf="bedTypeChangeRequest.stagingItem.changeType == 'Modify'">
                        <div class="add-form">
                            <div class="warning-wrap">
                                <div>
                                    <strong>Associated records will be impacted</strong>
                                    <span>
                                        {{bedTypeChangeRequest.entityStaging.bedConfigCount}} bed configs<br />
                                        {{bedTypeChangeRequest.entityStaging.vehicleToBedConfigCount}} vehicle to bed configs
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Remove -->
                <div *ngIf="bedTypeChangeRequest.stagingItem.changeType == 'Delete'">
                    <div class="title-name">
                        <h4>Bed Type Name</h4>
                        {{bedTypeChangeRequest.entityStaging.name}}
                    </div>
                </div>
                <!--<p *ngIf="(!_identityInfo.isResearcher && !_identityInfo.isAdmin && !_identityInfo.isRequestor)">
                    <span *ngIf="!reviewCompleted"><input type="button" (click)="onLikeClick('Like')" [disabled]="isLiked" class="btn icon thumb-up" value="Like"> &nbsp;&nbsp;&nbsp; {{likeStagingGet.likeCount}} likes</span>
                </p>
                <p *ngIf="(_identityInfo.isResearcher || _identityInfo.isAdmin || _identityInfo.isRequestor)">
                    <span class="icon-text thumb-up">{{likeStagingGet.likeCount}} likes</span>
                </p>-->

                <p *ngIf="bedTypeChangeRequest.canLike">
                    <span *ngIf="!bedTypeChangeRequest.isCompleted">
                        <input type="button" (click)="onLikeClick('Like')" [disabled]="isLiked" class="btn icon thumb-up" value="Like"> &nbsp;&nbsp;&nbsp; {{likeStagingGet.likeCount}} likes
                    </span>
                </p>

                <p *ngIf="!bedTypeChangeRequest.canLike  &&(!bedTypeChangeRequest.canFinal|| likeStagingGet.likeCount == 0)">
                    <span class="icon-text thumb-up">{{likeStagingGet.likeCount}} likes</span>
                </p>
                <p *ngIf="bedTypeChangeRequest.canFinal && likeStagingGet.likeCount > 0">
                    <span class="icon-text thumb-up"> <a class="pointer" (click)="onClickLikes(bedTypeChangeRequest.stagingItem.changeRequestId)"> {{likeStagingGet.likeCount}} likes </a></span>
                </p>


                <p>
                    <strong>Submitted by</strong><br>
                    {{bedTypeChangeRequest.stagingItem.submittedBy}}, {{bedTypeChangeRequest.stagingItem.createdDateTime | date: "MMMM dd,yyyy"}}
                </p>

                <p>
                    <strong>Attachments</strong><br>
                    <ac-fileuploader [existing-files]="bedTypeChangeRequest.attachments"
                                     upload-api-path="file/savechunk" [can-attach]="false" #existingAcFileUploader></ac-fileuploader>

                </p>

                <!--<p>
                    <strong>Request comments</strong><br>
                    <span *ngIf="bedTypeChangeRequest.requestorComments && bedTypeChangeRequest.requestorComments.length > 0">
                        <ul>
                            <li *ngFor="let comment of bedTypeChangeRequest.requestorComments">
                                {{comment.comment}}
                            </li>
                        </ul>
                    </span>
                </p>-->

                <div class="add-form">
                    <div class="input-blocks">
                        <div>
                            <strong>Assigned Reviewer</strong>
                            <div class="select white-select">
                                <select [(ngModel)]="assignedReviewer.assignedToUserId" [disabled]="reviewCompleted || !bedTypeChangeRequest.canAssign" (ngModelChange)="onReviewerChange()">
                                    <option value="-1" *ngIf="usersForAssignment">Me</option>
                                    <option *ngFor="let user of usersForAssignment" [value]="user.id">
                                        {{user.user}}
                                    </option>
                                </select>
                                <div class="select__arrow white-select__arrow"></div>
                            </div>
                        </div>

                        <div>
                            <strong>Current Status</strong>
                            {{bedTypeChangeRequest.stagingItem.status}}
                        </div>

                        <div class="clearfix"></div>

                        <div *ngIf="bedTypeChangeRequest.canReview">

                            <strong>Your Review</strong>

                            <div *ngIf="!bedTypeChangeRequest.canFinal">
                                <!-- note: for reviewer, approve .equals preliminary approve. -->
                                <div class="custom-radio yes-no">

                                    <label class="yes left">
                                        <input type="radio" name="radio" (change)="onChange('PreliminaryApprove')" [checked]="isPreliminaryApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>APPROVE</ins>
                                    </label>

                                    <label class="no right">
                                        <input type="radio" name="radio" (change)="onChange('Reject')" [checked]="isRejectChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>REJECT</ins>
                                    </label>

                                </div>
                            </div>

                            <!-- todo: admin final/ prelim/ reject -->
                            <div *ngIf="bedTypeChangeRequest.canFinal">
                                <div class="custom-radio">
                                    <label class="left">
                                        <input type="radio" name="radio" (change)="onChange('Approve')" [checked]="isApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>FINAL</ins>
                                    </label>
                                    <label *ngIf="showPrelimRadio">
                                        <input type="radio" name="radio" (change)="onChange('PreliminaryApprove')" [checked]="isPreliminaryApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>PRELIM</ins>
                                    </label>
                                    <label class="no right">
                                        <input type="radio" name="radio" (change)="onChange('Reject')" [checked]="isRejectChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>REJECT</ins>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="submit-wrap" *ngIf="bedTypeChangeRequest.canSubmit">
                        <input type="submit" value="SUBMIT" class="btn" (click)="onSubmitReview()">
                        <input type="reset" value="CANCEL" class="btn transparent" (click)="onCancel()">
                    </div>
                </div>

            </div>

            <div>
                <div class="comment-box">
                    <reviewer-comments-comp [comments]="bedTypeChangeRequest.comments"></reviewer-comments-comp>
                </div>

                <div class="attach-wrap" *ngIf="bedTypeChangeRequest.canSubmit">
                    <strong>OPTIONAL</strong>
                    <ac-fileuploader upload-api-path="file/savechunk" #newAcFileUploader can-attach="bedTypeChangeRequest.canAttach"></ac-fileuploader>
                    <small>Include comments</small>
                    <textarea cols="50" rows="5" [(ngModel)]="reviewComment.comment"></textarea>
                </div>

            </div>

        </div>

    </div>

</main>