@model Northwind.Web.Models.ViewModels.Contract.ContractNoticeViewModel
<div>
    @{Html.RenderPartial("ContractNoticeFormModel");}
</div>
<script>
     //call submit method from contract index.tsx
    window.uploaderMod = window.loadFileUpload.pageView.loadFileUpload('fileUploadMod', '@ViewBag.Resourcekey', true, '@Model.ContractNoticeGuid', '@ViewBag.UpdatedBy', '@ViewBag.UpdatedOn', 'No path', true, false, true, true, false, submitCallBack,true);

    function submitCallBack() {
        
    }
</script>
<script>
    function notifyCallBack() {

    }
    function skipCallBack() {

    }
</script>