@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
ViewData["Title"] = "North Wind Group | Change Password";
ViewData["class"] = "nw-home";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-primary mb-0 text-uppercase">News & Values Archive</h3>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <div class="input-group mb-3 mb-sm-0"><input placeholder="Search" id="" class="form-control k-textbox"
                    value="">
                <div class="input-group-append">
                    <div class="input-group-text"><a href="javascript:void(0)" class="k-icon k-i-search">&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <a href="#" class="news-title mb-0">Webmail Access for Office 365</a>
            <div class="news-date mb-2 small">December 2, 2019</div>
        </div>
        <div class="col-12 mb-3">
            <a href="#" class="news-title mb-0">North Wind Group Ranks 26 in the Idaho Private 100 Businesses Rankings
                </a>
            <div class="news-date mb-2 small">December 3, 2019</div>
        </div>
        <div class="col-12 mb-3">
            <a href="#" class="news-title mb-0">Wellness Wednesday</a>
            <div class="news-date mb-2 small">December 5, 2019</div>
        </div>
        <div class="col-12 mb-3">
            <a href="#" class="news-title mb-0">PMA Leads by Example
                </a>
            <div class="news-date mb-2 small">December 7, 2019</div>
        </div>
        <div class="col-12 mb-3">
                <a href="#" class="news-title mb-0">North Wind Group Ranks 26 in the Idaho Private 100 Businesses Rankings
                    </a>
                <div class="news-date mb-2 small">December 7, 2019</div>
            </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-3 col-lg-2">
            <img src="/img/HooverDam.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-9 col-md-8">
            <h4 class="news-title mb-0">Webmail Access for Office 365</h4>
            <div class="news-date mb-2 small">11/11/2019</div>
            <p class="news-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque totam laborum
                doloremque, accusantium iusto impedit modi minus nesciunt iste atque quis amet repellendus, magnam,
                vel culpa? Suscipit ut expedita sapiente. <a href="" class="text-dark">Read More...</a> </p>
        </div>
    </div> -->
</div>

<!-- <div class="mt-5"></div>

<div class="">
    <div class="row">
        <div class="col">
            <h3 class="text-primary mb-0">What You Need to Know / Values Corner / More to Know</h3>
        </div>
        <div class="col-12">
            <p>News Posts</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="">Date</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="">Front Page Section</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-4 form-group">
                        <label for="">Front Page Image</label>
                        <input type="file" class="form-control" />
                    </div>
                    <div class="col-md-6 form-group form-inline">
                        <div class="form-check mr-4 mt-1 mb-1">
                            <input class="k-checkbox" type="checkbox" id="inlineFormCheck">
                            <label class="k-checkbox-label" for="inlineFormCheck">
                                Show in See Archive View
                            </label>
                        </div>
                        <div class="form-check mt-1 mb-1">
                            <input class="k-checkbox" type="checkbox" id="inlineFormCheck1">
                            <label class="k-checkbox-label" for="inlineFormCheck1">
                                Is Featured
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label for="">Title</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 form-group">
                        <label for="">Front Page Excerpt</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="">1st Image/Video</label>
                        <input type="file" class="form-control" />
                    </div>
                    <div class="col-12 form-group">
                        <label for="Image/Video Caption"></label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 form-group">
                        <a href="" class="btn btn-primary">Add Image</a>
                    </div>
                    <div class="col-12 form-group">
                        <label for="">Body of Article</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="col-12 text-right">
                        <a href="#" class="btn btn-danger">Delete</a>
                        <a href="#" class="btn btn-dark mx-2">Save as Draft</a>
                        <a href="#" class="btn btn-primary">Publish</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="post">
                <div class="post-title">
                    PREVIEW POST - Preview template (3 views - slider / news article page / archive
                </div>
                <div class="post-preview">
                    <div class="post-preview-img">
                        <img src="/img/HooverDam.png" class="img-fluid" alt="">
                        <div class="post-preview-img-caption">helo</div>
                    </div>
                    <div class="post-preview-title">Webmail Access for Office 365
                    </div>
                    <div class="post-preview-date">11/11/2019
                    </div>
                    <div class="post-preview-detail">North Wind Webmail access for Office 365 users is accessible at the
                        URL https://outlook.office.com. We have experienced problems with users accessing the old
                        Webmail link, so please access. We have experienced problems with users accessing the old
                        Webmail link.<br /><br />

                        North Wind Webmail access for Office 365 users is accessible at the URL
                        https://outlook.office.com. We have experienced problems with users accessing the old Webmail
                        link, so please access your webmail directly at this.<br /><br />

                        North Wind Webmail access for Office 365 users is accessible at the URL
                        https://outlook.office.com. We have experienced problems with users accessing the old Webmail
                        link, so please access your webmail directly at this URL.<br /><br />
                    </div>
                    <div class="post-category">Category: <i>News</i></div>
                </div>
            </div>
        </div>
    </div>

</div> -->