@model Northwind.Web.Models.ViewModels.FarClause.FarContractViewModel

@*<p class="px-3">Last Updated By <b> @Model.Questionniare.FirstOrDefault().UpdatedBy on @Model.Questionniare.FirstOrDefault().Updatedon.ToString("MM/dd/yyyy").</b></p>*@

<partial name="_FormModel.cshtml" />