@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Office";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var resourceVersion = @Configuration["resourceVersion"];
    var cdnUrl = @Configuration["CDNUrl"];
}

@section breadcrumb
    {
    <li class="breadcrumb-item"><a href="#">Office Directory</a></li>
}
<div id="UserOfficeGrid"></div>

@section Scripts {
    @*<script src="@cdnUrl/js/dist/officegrid.js?v=@resourceVersion"></script>*@
}

