@using Northwind.Web.Areas.IAM.Models;
@model AddPolicyViewModel
@{
    ViewData["Title"] = "North Wind Group Inc: Add Policy";
    Layout = "~/Areas/IAM/Views/Shared/_Layout.cshtml";
}
<form class="small" id="addPolicyComponentContainer">
   
</form>
@section ScriptsIAM {

    <style>
        .k-animation-container {
            z-index: 10003
        }
        
    </style>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    
    <script src="~/js/dist/addPolicy.js"></script>
    }
   

   


    


