<loading-gif [show]="showLoadingGif"></loading-gif>
<div class="clearfix">
    <span class="icon-text" style="float:right;" *ngIf="vehicleToBodyStyleConfigSearchViewModel && vehicleToBodyStyleConfigSearchViewModel.totalCount">Reading <strong>1000</strong> of <strong>{{vehicleToBodyStyleConfigSearchViewModel.totalCount}}</strong> matching records</span>
</div>

<!-- Brake config unfolded start -->
<div class="table-wrap">
    <h2 class="foldable clearfix">
        <a [ngClass]="{fold:isBodyStyleConfigExpanded, unfold:!isBodyStyleConfigExpanded}" (click)="isBodyStyleConfigExpanded=!isBodyStyleConfigExpanded"></a>
        Body Style Config System
        <a class="btn blue icon add" (click)="routerLinkRedirect('/bodystyleconfig/add',0)">NEW</a>
    </h2>
    <div class="ctable" [ngClass]="{unfolded:isBodyStyleConfigExpanded, folded:!isBodyStyleConfigExpanded}">
        <ac-grid #bodyStyleConfigGrid [dataSource]="vehicleToBodyStyleConfigSearchViewModel.result.bodyStyleConfigs" #gd="acGrid"
                  columns='[
                        { "header":" ", "selectable": {"selected": true}},
                 { "header":"Body Style Config ID",        "field":"id",                   "sortable":true,"sortedByDesc":true },
                 { "header":"Body Num Doors (ID)",   "field":"numDoors",   "sortable":true},
                 { "header":"Body Type (ID)",    "field":"bodyTypeName",    "sortable":true},
                 { "header":"Change Requests"}
                 ]'
                  paging='{"pageSize": 10, "numberOfPagesOnPageList" : 10}'
                  (selectAllChangedEvent)="onSelectAllBodyStyleConfigs($event)" [selectAllChecked]="isSelectAllBodyStyleConfigs"
                 [thresholdRecordCount]="thresholdRecordCount">
            <tr *ngFor="let item of gd.items">
                <td>
                    <label class="control control--checkbox green-checkbox">
                        <input type="checkbox" [(ngModel)]="item.isSelected" (change)="onBodyStyleConfigSelected(item)">
                        <div class="control__indicator"></div>
                    </label>
                </td>
                <td>{{item.id}}</td>
                <td>{{item.numDoors}} ({{item.bodyNumDoorsId}})</td>
                <td>{{item.bodyTypeName}} ({{item.bodyTypeId}})</td>
                <td *ngIf="item.changeRequestId && item.changeRequestId != -1">
                    <a (click)="onViewBrakeSystemCr(item)" class="btn-r-arrow blue" style="cursor: pointer;">Pending</a>
                </td>
                <td *ngIf="!item.changeRequestId || item.changeRequestId == -1">
                    <a class="box-icon pencil" title="Edit" (click)="routerLinkRedirect('/bodystyleconfig/modify/', item.id)"></a>
                    <a class="box-icon delete" title="Delete" (click)="routerLinkRedirect('/bodystyleconfig/delete/', item.id)"></a>
                    <a class="box-icon shuffle" title="Replace" (click)="routerLinkRedirect('/bodystyleconfig/replace/',item.id)"></a>
                </td>
            </tr>
        </ac-grid>
    </div>
</div>

<!-- Associated vehicles folded start -->
<div class="table-wrap">
    <h2 class="foldable clearfix">
        <a [ngClass]="{fold:isAssociatedVehiclesExpanded, unfold:!isAssociatedVehiclesExpanded}" (click)="isAssociatedVehiclesExpanded=!isAssociatedVehiclesExpanded"></a>
        Associated Vehicles
        <a class="btn blue icon add" (click)="onNewVehicleToBodyStyleConfig()">NEW</a>
    </h2>
    <div class="ctable" [ngClass]="{unfolded:isAssociatedVehiclesExpanded, folded:!isAssociatedVehiclesExpanded}">
        <ac-grid #vehicleToBodyStyleConfigGrid [dataSource]="vehicleToBodyStyleConfigsForSelectedBodyStyle" #gd1="acGrid"
                  columns='[
                        { "header":"Vehicle to Body Style Config ID",   "field":"id",                   "sortable":true},
                 { "header":"Vehicle ID",                   "field":"vehicle.id",           "sortable":true},
                  { "header":"Body Style Config ID",        "field":"bodyStyleConfigId",       "sortable":true},
                 { "header":"Year",                         "field":"vehicle.yearId",       "sortable":true},
                 { "header":"Make (ID)",                    "field":"vehicle.makeName",     "sortable":true},
                 { "header":"Model (ID)",                   "field":"vehicle.modelName",    "sortable":true},
                 { "header":"Submodel (ID)",                "field":"vehicle.subModelName", "sortable":true},
                 { "header":"Region (ID)",                  "field":"vehicle.regionName",           "sortable":true},
                 { "header":"Change Requests"}
                 ]'
                 initialSortBy='[{"field": "id", "orderByDesc": true}]'
                 paging='{"pageSize": 10, "numberOfPagesOnPageList" : 10}'>
            <tr *ngFor="let selection of gd1.items">
                <td>{{selection.id}}</td>
	            <td>{{selection.vehicle.id}}</td>
                 <td>{{selection.bodyStyleConfigId}}</td>
                <td>{{selection.vehicle.yearId}}</td>
                <td>{{selection.vehicle.makeName}} ({{selection.vehicle.makeId}})</td>
                <td>{{selection.vehicle.modelName}} ({{selection.vehicle.modelId}})</td>
                <td>{{selection.vehicle.subModelName}} ({{selection.vehicle.subModelId}})</td>
                <td>{{selection.vehicle.regionName}} ({{selection.vehicle.regionId}})</td>
                <td *ngIf="selection.changeRequestId && selection.changeRequestId != -1">
                    <a (click)="onViewAssociatedVehiclesCr(selection)" style="cursor: pointer;" class="btn-r-arrow blue">Pending</a>
                </td>
                <td *ngIf="!selection.changeRequestId || selection.changeRequestId == -1">
                    <a class="box-icon delete" title="Delete" (click)="onDeleteVehicleToBodyStyleConfig(selection)"></a>
                </td>
            </tr>
        </ac-grid>
    </div>
</div>

<modal #deleteBodyStyleAssociationPopup>
    <div class="overlay dark show" *ngIf="deleteVehicleToBodyStyleConfig">
        <div class="new-make">
            <a class="close" (click)="deleteBodyStyleAssociationPopup.dismiss()"></a>
            <div class="add-form">
                <h2>Delete Body Association</h2>
                <div class="clearfix">
                    <div class="input-blocks clearfix">
                        <div>
                            <strong>Base ID</strong>
                            {{deleteVehicleToBodyStyleConfig.vehicle.baseVehicleId}}
                        </div>

                        <div>
                            <strong>Vehicle ID</strong>
                            {{deleteVehicleToBodyStyleConfig.vehicle.id}}
                        </div>

                        <div>
                            <strong>Body Style Config ID</strong>
                            {{deleteVehicleToBodyStyleConfig.bodyStyleConfig.id}}
                        </div>
                    </div>
                    <div class="attach-wrap">
                        <strong>OPTIONAL</strong>
                        <ac-fileuploader #acFileUploader upload-api-path="file/savechunk"></ac-fileuploader>
                        <small>Include comments</small>
                        <textarea cols="50" rows="5" [(ngModel)]="deleteVehicleToBodyStyleConfig.comment"></textarea>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Submit and cancel button start -->
                    <div class="btns">
                        <input type="reset" value="CANCEL" class="btn transparent" (click)="deleteBodyStyleAssociationPopup.dismiss()">
                        <input type="submit" value="SUBMIT" class="btn" (click)="onDeleteVehicleToBodyStyleConfigSubmit()">
                    </div>

                </div>
            </div>
        </div>
    </div>
</modal>
