@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cdnUrl = @Configuration["CDNUrl"];
}
@{
    var resourceVersion = @Configuration["resourceVersion"];
}
<div id="windows"></div>
<div id="dialog" style="min-height:68% !important; display: none; overflow:auto">
    <div class="content" style="min-height:100% !important; overflow:visible"></div>
</div>

<div id="example">
    <div id="grid"></div>
    <div id="dialog10" class="kdialog" key="dialog1" actionText="Add Administrator" dialogTitle="Add Administrator" dialogHeight="50%" dialogWidth="50%" geturl="/admin/grid/add" posturl="/admin/grid/add" method="post"></div>
    <div id="dialog11" class="kdialog" key="dialog2" actionText="Add Administrator1" dialogTitle="Add Administrator1" dialogHeight="50%" dialogWidth="50%" geturl="/admin/grid/add" posturl="/admin/grid/add" method="post"></div>

</div>
<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, .2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

    #dialog {
        overflow: visible;
    }
</style>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

@section Scripts {
    <script src="@cdnUrl/js/proj/grid.js?v=@resourceVersion"></script>
    <script src="@cdnUrl/js/require.js?v=@resourceVersion"></script>
    <script>
        function onClick(e) {
            alert("clicked")
        }

        require(["/js/dist/dialog.js"], function () {
            DialogEvents.buttons.push([{
                text: "ok",
                primary: true,
                requireValidation: true,
                action: function (e, data) {
                    alert(JSON.stringify(data))
                }
            }, {
                text: "ok1",
                primary: false,
                requireValidation: false,
                action: function (e) {
                    alert("good1")
                }
            }, {
                text: "ok2",
                primary: false,
                requireValidation: false,
                action: function (e) {
                    alert("good2")
                }
            }])

        })
    </script>

}

<script src="@cdnUrl/js/dist/dialog.js?v=@resourceVersion"></script>

