@{
ViewData["Title"] = "You are not authorized";
}
<div class="container empty-container text-center">
    <i class="material-icons text-danger">block</i>
    <h1>@ViewData["Title"]</h1>
    <p>The feature you requested is not available for your user account. If you believe you should have access to this
        feature, please contact IT Support Team to request feature access. Click below to go to home page. <br/><br/>
        <a href="/home" class="btn btn-primary">Home</a></p>
</div>