#gridUserSwich{
    .k-grid-content{
                       td:first-child{
                                         cursor:pointer;
                                         &:hover{
                                                    color:$primary;
                                                }
                                     }
                   }
}