@model Northwind.Web.Models.ViewModels.Article.ArticleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb
    {
    <li class="breadcrumb-item"><a href="/Admin/Homesection">List of Articles</a></li>
    <li class="breadcrumb-item"><a href="#">Add Article</a></li>
}

<div>
    <partial name="_FormModelArticle.cshtml" />
</div>

@section Scripts {
    <script>
        $("#ArticleDate").kendoDatePicker();
        var editor = null;
        (function () {
            editor = window.richEditor.loadRichEditor('richtexteditor', '');

        })()

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
}