@model Northwind.Web.Models.ViewModels.Article.ArticleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .farclause_grid .btn-link {
        color: #00649B;
    }

        .farclause_grid .btn-link:hover {
            text-decoration: underline;
        }
</style>
@section breadcrumb
    {
    <li class="breadcrumb-item"><a href="/Admin/Settings">Settings</a></li>
    <li class="breadcrumb-item"><a href="#">Home Section</a></li>
}

<div id="articleGrid"></div>
<div id="dialog">
    <div class="content"></div>
</div>

@section Scripts {

    <script type="text/javascript">
        (function ()
        {
            window.article.articleList('Article List', '@User.Claims.Where(c=>c.Type.ToString() == "fullName").ToList()[0].Value');
        })()
    </script>
}