<loading-gif [show]="showLoadingGif"></loading-gif>
<user-likes-comp #likeComponent></user-likes-comp>
<main class="clearfix">

    <div class="center" *ngIf="driveTypeChangeRequest">

        <!-- Breadcrumb start -->
        <div class="breadcrumb">
            <a class="back" routerLink={{backNavigation}}>{{backNavigationText}}</a>
        </div>
        <!-- Breadcrumb end -->
        <h2 class="foldable clearfix">
            <span *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Add'">New</span>
            <span *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Modify'">Modify</span>
            <span *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Delete'">Remove</span>
            <span *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Replace'">Replace</span>
            Drive Type request
            <span class="float-right" *ngIf="driveTypeChangeRequest.canDelete">
                <input type="submit" value="DELETE" class="btn orange" (click)="onSubmitReview('delete')">
            </span>
        </h2>
        <br />

        <strong>Change Request ID: {{driveTypeChangeRequest.stagingItem.changeRequestId}}</strong>
        <div>
            <!-- New -->
            <div *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Add'">
                <div class="title-name">
                    <h4>New Drive Type</h4>
                    {{driveTypeChangeRequest.entityStaging.name}}
                </div>
            </div>
            <!-- Modify -->
            <div *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Modify' || driveTypeChangeRequest.stagingItem.changeType == 'Replace'">
                <div class="clearfix">
                    <div class="title-name float-left margin-r-40px">
                        <h4>Original Drive Type</h4>
                        {{driveTypeChangeRequest.entityCurrent.name}}
                    </div>
                    <div class="title-name float-left">
                        <h4 *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Modify'">New Drive Type</h4>
                        <h4 *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Replace'">Replacement Drive Type</h4>
                        {{driveTypeChangeRequest.entityStaging.name}}
                    </div>
                </div>
                <!-- association information -->
                <div *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Modify'">
                    <div class="add-form">
                        <div class="warning-wrap">
                            <div>
                                <strong>Associated records will be impacted</strong>
                                <span>
                                    {{driveTypeChangeRequest.entityStaging.vehicleToDriveTypeCount}} vehicle to Drive Type
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-wrap" *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Replace'">
                <h2 class="sfont">
                    Affected Associations
                </h2>
                <div class="ctable">
                    <table>
                        <thead>
                            <tr>
                                <td>Vehicle<br>to Drive Type ID</td>
                                <td>Base Vehicle<br>(Make, Model)</td>
                                <td>Vehicle<br>(Submodel, Region)</td>
                                <td>Drive Type ID</td>
                                <td>Drive Type</td>
                            </tr>
                        </thead>
                        <tbody *ngIf="driveTypeChangeRequest && driveTypeChangeRequest.replacementVehicleToDriveTypes">
                            <tr *ngFor="let vechicleToDriveType of driveTypeChangeRequest.replacementVehicleToDriveTypes">
                                <td>{{vechicleToDriveType.id}}</td>
                                <td>{{vechicleToDriveType.vehicle.makeName}}, {{vechicleToDriveType.vehicle.modelName}}</td>
                                <td>{{vechicleToDriveType.vehicle.subModelName}}, {{vechicleToDriveType.vehicle.regionName}}</td>
                                <td>{{vechicleToDriveType.driveType.id}}</td>
                                <td>{{vechicleToDriveType.driveType.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Remove -->
            <div *ngIf="driveTypeChangeRequest.stagingItem.changeType == 'Delete'">
                <div class="title-name">
                    <h4>Drive Type</h4>
                    {{driveTypeChangeRequest.entityStaging.base}}
                </div>
            </div>
        </div>
        <div class="twocol-equal clearfix">
            <div>
               
                <p *ngIf="driveTypeChangeRequest.canLike">
                    <span *ngIf="!driveTypeChangeRequest.isCompleted">
                        <input type="button" (click)="onLikeClick('Like')" [disabled]="isLiked" class="btn icon thumb-up" value="Like"> &nbsp;&nbsp;&nbsp; {{likeStagingGet.likeCount}} likes
                    </span>
                </p>

                <p *ngIf="!driveTypeChangeRequest.canLike  &&(!driveTypeChangeRequest.canFinal|| likeStagingGet.likeCount == 0)">
                    <span class="icon-text thumb-up">{{likeStagingGet.likeCount}} likes</span>
                </p>
                <p *ngIf="driveTypeChangeRequest.canFinal && likeStagingGet.likeCount > 0">
                    <span class="icon-text thumb-up"> <a class="pointer" (click)="onClickLikes(driveTypeChangeRequest.stagingItem.changeRequestId)"> {{likeStagingGet.likeCount}} likes </a></span>
                </p>

                <p>
                    <strong>Submitted by</strong><br>
                    {{driveTypeChangeRequest.stagingItem.submittedBy}}, {{driveTypeChangeRequest.stagingItem.createdDateTime | date: "MMMM dd,yyyy"}}
                </p>

                <p>
                    <strong>Attachments</strong><br>
                    <ac-fileuploader [existing-files]="driveTypeChangeRequest.attachments"
                                     upload-api-path="file/savechunk" [can-attach]="false" #existingAcFileUploader></ac-fileuploader>

                </p>

                <div class="add-form">
                    <div class="input-blocks">
                        <div>
                            <strong>Assigned reviewer</strong>
                            <div class="select white-select">
                                <select [(ngModel)]="assignedReviewer.assignedToUserId" [disabled]="driveTypeChangeRequest.isCompleted||!driveTypeChangeRequest.canAssign" (ngModelChange)="onReviewerChange()">
                                    <option value="-1" *ngIf="usersForAssignment">Me</option>
                                    <option *ngFor="let user of usersForAssignment" [value]="user.id">
                                        {{user.user}}
                                    </option>
                                </select>
                                <div class="select__arrow white-select__arrow"></div>
                            </div>
                        </div>

                        <div>
                            <strong>Current status</strong>
                            {{driveTypeChangeRequest.stagingItem.status}}
                        </div>

                        <div class="clearfix"></div>

                        <div *ngIf="driveTypeChangeRequest.canReview">

                            <strong>Your review</strong>

                            <div *ngIf="!driveTypeChangeRequest.canFinal">
                                <!-- note: for reviewer, approve .equals preliminary approve. -->
                                <div class="custom-radio yes-no">

                                    <label class="yes left">
                                        <input type="radio" name="radio" (change)="onChange('PreliminaryApprove')" [checked]="isPreliminaryApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>APPROVE</ins>
                                    </label>

                                    <label class="no right">
                                        <input type="radio" name="radio" (change)="onChange('Reject')" [checked]="isRejectChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>REJECT</ins>
                                    </label>

                                </div>
                            </div>

                            <!-- todo: admin final/ prelim/ reject -->
                            <div *ngIf="driveTypeChangeRequest.canFinal">
                                <div class="custom-radio">
                                    <label class="left">
                                        <input type="radio" name="radio" (change)="onChange('Approve')" [checked]="isApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>FINAL</ins>
                                    </label>
                                    <label *ngIf="showPrelimRadio">
                                        <input type="radio" name="radio" (change)="onChange('PreliminaryApprove')" [checked]="isPreliminaryApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>PRELIM</ins>
                                    </label>
                                    <label class="no right">
                                        <input type="radio" name="radio" (change)="onChange('Reject')" [checked]="isRejectChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>REJECT</ins>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="submit-wrap" *ngIf="driveTypeChangeRequest.canSubmit">
                        <input type="submit" value="SUBMIT" class="btn" (click)="onSubmitReview()">
                        <input type="reset" value="CANCEL" class="btn transparent" (click)="onCancel()">
                    </div>
                </div>

            </div>

            <div>
                <div class="comment-box">
                    <reviewer-comments-comp [comments]="driveTypeChangeRequest.comments"></reviewer-comments-comp>
                </div>

                <div class="attach-wrap" *ngIf="driveTypeChangeRequest.canSubmit">
                    <strong>OPTIONAL</strong>
                    <ac-fileuploader upload-api-path="file/savechunk" #newAcFileUploader can-attach="driveTypeChangeRequest.canAttach"></ac-fileuploader>
                    <small>Include comments</small>
                    <textarea cols="50" rows="5" [(ngModel)]="reviewComment.comment"></textarea>
                </div>

            </div>

        </div>

    </div>

</main>