<!--Top Nav Section :: Start-->
<nav role="navigation" class="navbar navbar-default headerbackground">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a href="#" class="navbar-brand logo-align"><img src="content/images/logo-white-small.png" /></a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">VCDB <i class="caret"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">PCDB</a></li>
                    <li><a href="#">QDB</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="user-header">
                <img src="content/images/user2-160x160.png" class="img-circle user-logo-align" alt="User Image" id="UsrImg" />
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">USER NAME<i class="caret"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">User Account</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--Top Nav Section :: End-->
