<!-- Search bar start -->
<div class="search-bar clearfix">
    <div class="select green-select">
        <select>
            <option>SEARCH VEHICLES</option>
            <option>SEARCH PARTS</option>
            <option>SEARCH MAKE</option>
        </select>
        <div class="select__arrow green-select__arrow"></div>
    </div>

    <input type="text" placeholder="Year, Make, Model, Submodel" size="30">
    <input type="text" placeholder="Base Vehicle ID" size="12">
    <input type="text" placeholder="Vehicle ID" size="7">
    <input type="submit" value="">
</div>

<!-- Recent searches start -->
<div class="recent-searches">
    <h2>Recent Searches</h2>
    <p>
        <a href="javascript:void(0)">2000-2003 GMC Yukon XL</a>
        <a href="javascript:void(0)">2005-2007 GMC Yukon Denali</a>
        <a href="javascript:void(0)">2013-2016 Ford F150 Platinum</a>
        <a href="javascript:void(0)">Vehicle ID 886</a>
        <a href="javascript:void(0)">1987 Ford Sierra Cosworth </a>
        <a href="javascript:void(0)">1988 Ford RS200</a>
        <a href="javascript:void(0)">Base vehicle ID 2475</a>
        <a href="javascript:void(0)">Brake system ID 5521</a>
    </p>
</div>
