<div id="advancedSearchDialog">
    <div class="row">
        <div class="col">Select Attribute</div>
        <div class="col">Select Operator</div>
        <div class="col">Select Value</div>
    </div>
    <div class="row small" id="advancedSearchDialogContent">
        <div class="col">
            <select class="form-control">
                <option>Choose attribute</option>
                <option>Contract Number</option>
                <option>Project Number</option>
                <option>Funded Amount</option>
                <option>Contract Amount</option>
                <option>Award Date</option>
                <option>POP</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control">

                <option>Equals</option>
                <option>Starts With</option>
                <option>Contains</option>
                <option>Greater Than</option>
                <option>Between</option>
                <option>Less Than</option>

            </select>

        </div>
        <div class="col">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a href="#">Add More Conditions</a>
        </div>
    </div>
</div>
