<html>
<body style="color:grey; font-size:15px;">
    <font face="Helvetica, Arial, sans-serif">

        <div style="background-color: #ece8d4; width:600px; height:200px; padding:30px; margin-top:30px;">

            <p>Dear {0},<p>
                <h2>This is Notification Message..</h2>
            <p>Contract Number: {CONTRACT_NUMBER}</p>
            <p>Thank you</p>
        </div>
        <div>
            {ADDITIONAL_MESSAGE}
        </div>
</body>
</html>