@{
ViewData["Title"] = "Contract : Add";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="not-found-message text-center">
    <i class="k-icon k-i-page-properties"></i>
    <h4 class="mt-3 mb-0"><b><u>@Model</u></b></h4>
    <h2 class="mt-0 text-muted"><b>Oops!</b> File not found</h2>
</div>