@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
ViewData["Title"] = "North Wind Group | Change Password";
ViewData["class"] = "nw-home";
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h3 class="text-primary mb-0 text-uppercase">North Wind Disclaimer</h3>
        </div>
        <div class="col-12">
            <h4 class="text-uppercase text-primary">Header goes here</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et vulputate ante, ut placerat libero.
                Vestibulum risus odio, pretium convallis risus sit amet, tincidunt imperdiet nisl. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi placerat tortor arcu, sit amet
                auctor sem pharetra a. Sed egestas arcu odio, a scelerisque erat mattis tincidunt. Nunc sem turpis,
                elementum quis mollis pellentesque, laoreet id felis. Suspendisse non metus bibendum lectus ultricies
                dapibus et et dui.
                <br />
                <br />
                Donec consequat commodo ipsum ut ornare. Sed rhoncus congue rhoncus. Phasellus vel gravida metus, a
                porta leo. Curabitur facilisis aliquam erat, a tempor mi volutpat vitae. Proin lacinia dignissim velit
                vitae gravida. Vivamus molestie enim pellentesque, venenatis felis ac, blandit ipsum. Aliquam tempus
                interdum pellentesque. Quisque id odio accumsan, consectetur elit at, aliquet eros. Pellentesque
                malesuada accumsan turpis, vitae egestas est. Integer venenatis urna et efficitur blandit. Curabitur
                faucibus at augue ac vehicula. Mauris ultricies nibh felis, dictum pretium risus ultricies in. Curabitur
                at dui sed leo elementum mollis. Aliquam pulvinar imperdiet ligula.
            </p>
        </div>
    </div>
</div>