<loading-gif [show]="showLoadingGif"></loading-gif>
<user-likes-comp #likeComponent></user-likes-comp>
<main class="clearfix">

    <div class="center" *ngIf="regionChangeRequest">

        <!-- Breadcrumb start -->
        <div class="breadcrumb">
            <a class="back" routerLink={{backNavigation}}>{{backNavigationText}}</a>
        </div>
        <!-- Breadcrumb end -->
        <h2 class="foldable clearfix">
            <span *ngIf="regionChangeRequest.stagingItem.changeType == 'Add'">New</span>
            <span *ngIf="regionChangeRequest.stagingItem.changeType == 'Modify'">Modify</span>
            <span *ngIf="regionChangeRequest.stagingItem.changeType == 'Delete'">Remove</span>
            Region Request
            <span class="float-right" *ngIf="regionChangeRequest.canDelete">
                <input type="submit" value="DELETE" class="btn orange" (click)="onSubmitReview('delete')">
            </span>
        </h2>
        <br />

        <strong>Change Request ID: {{regionChangeRequest.stagingItem.changeRequestId}}</strong>

        <div class="twocol-equal clearfix">
            <div>
                <!-- New -->
                <div *ngIf="regionChangeRequest.stagingItem.changeType == 'Add'">
                    <div class="title-name">
                        <h4>New Region Name</h4>
                        {{regionChangeRequest.entityStaging.name}}
                        <br />
                        <h4>Region Abbreviation</h4>
                        {{regionChangeRequest.entityStaging.regionAbbr}}
                    </div>
                </div>
                <!-- Modify -->
                <div *ngIf="regionChangeRequest.stagingItem.changeType == 'Modify'">
                    <div class="clearfix">
                        <div class="title-name float-left margin-r-40px">
                            <h4>Original Region</h4>
                            {{regionChangeRequest.entityCurrent.name}}
                        </div>
                        <div class="title-name float-right">
                            <h4>Abbreviation</h4>
                            {{regionChangeRequest.entityCurrent.regionAbbr}}
                        </div><br />
                        <div class="title-name float-left margin-r-40px">
                            <h4>New Region</h4>
                            {{regionChangeRequest.entityStaging.name}}
                        </div>
                        <div class="title-name float-right">
                            <h4>Abbreviation</h4>
                            {{regionChangeRequest.entityStaging.regionAbbr}}
                        </div>
                    </div>
                    <!-- association information -->
                    <div *ngIf="regionChangeRequest.stagingItem.changeType == 'Modify'">
                        <div class="add-form">
                            <div class="warning-wrap">
                                <div>
                                    <strong>Associated records will be impacted</strong>
                                    <span>
                                        {{regionChangeRequest.entityStaging.vehicleCount}} vehicles
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Remove -->
                <div *ngIf="regionChangeRequest.stagingItem.changeType == 'Delete'">
                    <div class="title-name">
                        <h4>Region Name</h4>
                        {{regionChangeRequest.entityStaging.name}}
                    </div>
                </div>

                <p *ngIf="regionChangeRequest.canLike">
                    <span *ngIf="!regionChangeRequest.isCompleted">
                        <input type="button" (click)="onLikeClick('Like')" [disabled]="isLiked" class="btn icon thumb-up" value="Like"> &nbsp;&nbsp;&nbsp; {{likeStagingGet.likeCount}} likes
                    </span>
                </p>
                <p *ngIf="!regionChangeRequest.canLike  &&(!regionChangeRequest.canFinal|| likeStagingGet.likeCount == 0)">
                    <span class="icon-text thumb-up">{{likeStagingGet.likeCount}} likes</span>
                </p>
                <p *ngIf="regionChangeRequest.canFinal && likeStagingGet.likeCount > 0">
                    <span class="icon-text thumb-up"> <a class="pointer" (click)="onClickLikes(regionChangeRequest.stagingItem.changeRequestId)"> {{likeStagingGet.likeCount}} likes </a></span>
                </p>


                <p>
                    <strong>Submitted by</strong><br>
                    {{regionChangeRequest.stagingItem.submittedBy}}, {{regionChangeRequest.stagingItem.createdDateTime | date: "MMMM dd,yyyy"}}
                </p>

                <p>
                    <strong>Attachments</strong><br>
                    <ac-fileuploader [existing-files]="regionChangeRequest.attachments"
                                     upload-api-path="file/savechunk" [can-attach]="false"  #existingAcFileUploader></ac-fileuploader>
                </p>


                <!--<p>
                    <strong>Request comments</strong><br>
                    <span *ngIf="regionChangeRequest.requestorComments && regionChangeRequest.requestorComments.length > 0">
                        <ul>
                            <li *ngFor="let comment of regionChangeRequest.requestorComments">
                                {{comment.comment}}
                            </li>
                        </ul>
                    </span>
                </p>-->

                <div class="add-form">
                    <div class="input-blocks">
                        <div>
                            <strong>Assigned reviewer</strong>
                            <div class="select white-select" *ngIf="regionChangeRequest.canAssign">
                                <select [(ngModel)]="assignedReviewer.assignedToUserId" [disabled]="regionChangeRequest.isCompleted || !regionChangeRequest.canAssign" (ngModelChange)="onReviewerChange()">
                                    <option value="-1" *ngIf="usersForAssignment">Me</option>
                                    <option *ngFor="let user of usersForAssignment" [value]="user.id">
                                        {{user.user}}
                                    </option>
                                </select>
                                <div class="select__arrow white-select__arrow"></div>
                            </div>
                        </div>

                        <div>
                            <strong>Current Status</strong>
                            {{regionChangeRequest.stagingItem.status}}
                        </div>

                        <div class="clearfix"></div>

                        <div *ngIf="regionChangeRequest.canReview">
                            <strong>Your review</strong>
                            <div *ngIf="!regionChangeRequest.canFinal">
                                <div class="custom-radio yes-no">

                                    <label class="yes left">
                                        <input type="radio" name="radio" (change)="onChange('PreliminaryApprove')" [checked]="isPreliminaryApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>APPROVE</ins>
                                    </label>

                                    <label class="no right">
                                        <input type="radio" name="radio" (change)="onChange('Reject')" [checked]="isRejectChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>REJECT</ins>
                                    </label>

                                </div>
                            </div>
                            <div *ngIf="regionChangeRequest.canFinal">
                                <div class="custom-radio">
                                    <label class="left">
                                        <input type="radio" name="radio" (change)="onChange('Approve')" [checked]="isApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>FINAL</ins>
                                    </label>
                                    <label *ngIf="showPrelimRadio">
                                        <input type="radio" name="radio" (change)="onChange('PreliminaryApprove')" [checked]="isPreliminaryApproveChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>PRELIM</ins>
                                    </label>
                                    <label class="no right">
                                        <input type="radio" name="radio" (change)="onChange('Reject')" [checked]="isRejectChecked">
                                        <small></small>
                                        <span class="bg"></span>
                                        <ins>REJECT</ins>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="submit-wrap" *ngIf="regionChangeRequest.canSubmit">
                        <input type="submit" value="SUBMIT" class="btn" (click)="onSubmitReview()">
                        <input type="reset" value="CANCEL" class="btn transparent" (click)="onCancel()">

                    </div>
                </div>

            </div>

            <div>
                <div class="comment-box">
                    <reviewer-comments-comp [comments]="regionChangeRequest.comments"></reviewer-comments-comp>
                </div>

                <div class="attach-wrap" *ngIf="regionChangeRequest.canSubmit">
                    <strong>OPTIONAL</strong>
                    <ac-fileuploader upload-api-path="file/savechunk" #newAcFileUploader can-attach="regionChangeRequest.canAttach"></ac-fileuploader>
                    <small>Include comments</small>
                    <textarea cols="50" rows="5" [(ngModel)]="reviewComment.comment"></textarea>
                </div>

            </div>

        </div>

    </div>

</main>