.k-multiselect-wrap{
    padding-right: 3px;
    .k-button{
        font-size: 12px;
        padding: 0 5px; 
    }
    .k-select{
        margin-left: 5px;
    }
    .k-i-close{
        font-size:12px;
    }
}