@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$fw-r: 400;
$fw-b: 500;
$fw-h: 700;

html {
    font-size: 16px;
}


body {
    font-size: 16px;
    font-weight: $fw-r;

}

%material-icon-embed {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}