<loading-gif [show]="showLoadingGif"></loading-gif>
<article>
    <div class="center">
        <div class="table-wrap">
            <h2 class="clearfix">
                <div class="filter-search">
                    <input ac-autocomplete class="cinput"
                           [(ngModel)]="engineDesignationNameFilter" [dataSourceMethod]="getSuggestions" min-chars="1" source="nothing"
                           value-property-name="engineDesignationId"
                           display-property-name="engineDesignationName"
                           (keywordChanged)="applyFilter($event)"
                           placeholder="Filter Engine Designations"
                           title="Press ENTER to apply filter"/>
                    <input type="submit" value="" (click)="applyFilter()">
                </div>
                <a class="btn blue icon add" (click)="onNew()">NEW</a>
            </h2>
       
            <div class="ctable">
                <ac-grid [dataSource]="engineDesignations" #gd="acGrid" columns='[
                 { "header":"Engine Designation ID" , "field":"engineDesignationId", "sortable": "true" },
                 { "header":"Engine Designation Name" , "field":"engineDesignationName", "sortable": true },
                 { "header":"Last revision" , "field":"lastUpdateDate", "sortable": false },
                 { "header":"Change requests"}]'
                          initialSortBy='[
                 {"field": "engineDesignationId", "orderByDesc": false},
                 {"field": "engineDesignationName", "orderByDesc": false}]'
                          paging='{"pageSize": 10, "numberOfPagesOnPageList": 10}'>
                    <tr *ngFor="let engineDesignation of gd.items; let whenOdd=odd; let whenEven=even;" [ngClass]="{'table-even-row':whenOdd, 'table-odd-row':whenEven}">
                        <td>{{engineDesignation.engineDesignationId}}</td>
                        <td>{{engineDesignation.engineDesignationName}}</td>
                        <td>{{engineDesignation.lastUpdateDate| date: "MM-dd-yyyy"}}</td>
                        <td class="Pending" *ngIf="engineDesignation.changeRequestId">
                            <a (click)="view(engineDesignation)" style="cursor: pointer;" class="btn-r-arrow blue">Pending</a>
                        </td>
                        <td *ngIf="!engineDesignation.changeRequestId">
                            <a class="box-icon pencil" style="cursor: pointer;" title="Edit" (click)="onModify(engineDesignation)"></a>
                            <a class="box-icon delete" title="Delete" (click)="onDelete(engineDesignation)"></a>
                        </td>
                    </tr>
                </ac-grid>
            </div>
        </div>
    </div>
</article>


<modal #newPopup>
    <div class="overlay dark show">
        <div class="new-make">
            <a (click)="onCancel()" class="close"></a>
            <div class="add-form">
                <h2>New Engine Designation</h2>
                <div class="clearfix">

                    <div class="input-blocks clearfix">
                        <strong>Engine Designation Name (ID)</strong>
                        <input type="text" autofocus class="cinput" [(ngModel)]=" engineDesignation.engineDesignationName" placeholder="NewEngine Designation Name"/>
                    </div>

                    <div class="attach-wrap">
                        <strong>OPTIONAL</strong>

                        <ac-fileuploader upload-api-path="file/savechunk" delete-api-path="file/deleteblob" #newPopupAcFileUploader></ac-fileuploader>
                        <small>Include comments</small>
                        <textarea cols="50" rows="5" [(ngModel)]=" engineDesignation.comment"></textarea>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Submit and cancel button start -->
                    <div class="btns">
                        <input type="submit" value="CANCEL" class="btn transparent" (click)="onCancel()"/>
                        <input type="submit" value="SUBMIT" class="btn" (click)="onNewSubmit()"/>
                    </div>

                </div>
            </div>
        </div>
    </div>

</modal>

<modal #modifyPopup>
    <div class="overlay dark show">
        <div class="new-make">
            <a (click)="onCancel()" class="close"></a>
            <div class="add-form">
                <h2>Edit Engine Designation</h2>
                <div class="clearfix">

                    <div class="input-blocks clearfix">
                        <strong>Engine Designation Name (ID)</strong>
                        <!--<input type="text" class="cinput">-->
                        <input type="text" autofocus class="cinput" [(ngModel)]="modifiedEngineDesignation.engineDesignationName" placeholder="NewEngine Designation Name"/>
                    </div>

                    <div class="warning-wrap">
                        <div>
                            <strong>Associated records will be impacted</strong>
                            <span>
                                {{modifiedEngineDesignation.engineConfigCount}} engine configs
                                <br />
                                {{modifiedEngineDesignation.vehicleToEngineConfigCount}} vehicle to engine configs
                            </span>
                        </div>
                    </div>

                    <div class="attach-wrap">
                        <strong>OPTIONAL</strong>

                        <ac-fileuploader upload-api-path="file/savechunk" #modifyPopupAcFileUploader="acFileUploader"></ac-fileuploader>
                        <small>Include comments</small>
                        <textarea cols="50" rows="5" [(ngModel)]="modifiedEngineDesignation.comment"></textarea>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Submit and cancel button start -->
                    <div class="btns">
                        <input type="submit" value="CANCEL" class="btn transparent" (click)="onCancel()"/>
                        <input type="submit" value="SUBMIT" class="btn" (click)="onModifySubmit()"/>
                    </div>

                </div>
            </div>
        </div>
    </div>

</modal>

<modal #deleteConfirmPopup>

    <div class="overlay dark show">
        <div class="new-make">
            <a (click)="onCancel()" class="close"></a>
            <div class="add-form">
                <h2>RemoveEngine Designation</h2>
                <div class="clearfix">

                    <div class="warning-wrap confirmation">
                        <div>
                            <strong>Please confirm that you wish to remove the "{{ engineDesignation.name}}"Engine Designation.</strong>
                        </div>
                    </div>
                    <div class="attach-wrap">
                        <strong>OPTIONAL</strong>

                        <ac-fileuploader upload-api-path="file/savechunk" #deletePopupAcFileUploader="acFileUploader"></ac-fileuploader>
                        <small>Include comments</small>
                        <textarea cols="50" rows="5" [(ngModel)]=" engineDesignation.comment"></textarea>
                    </div>

                    <!-- Submit and cancel button start -->
                    <div class="btns">
                        <input type="submit" value="CANCEL" class="btn transparent" (click)="onCancel()">
                        <input type="submit" value="CONFIRM" class="btn" (click)="onDeleteConfirm()">
                    </div>

                </div>
            </div>
        </div>
    </div>

</modal>

<modal #deleteErrorPopup>

    <div class="overlay dark show">
        <div class="new-make">
            <a data-dismiss="modal" class="close"></a>
            <div class="add-form">
                <h2>RemoveEngine Designation</h2>
                <div class="clearfix">

                    <div class="warning-wrap delete-error-wrap">
                        <div>
                            <strong>Associated records will be impacted</strong>
                            <!--<label style="padding-left:20px;">before the "{{ engineDesignation.name}}"Engine Designation can be removed.</label>-->
                            <span>
                                {{ engineDesignation.engineConfigCount}} engine configs
                                <br />
                                {{engineDesignation.vehicleToEngineConfigCount}} vehicle to engine configs
                            </span>
                        </div>
                    </div>

                    <!-- Submit and cancel button start -->
                    <div class="btns">
                        <input type="submit" value="CANCEL" class="btn blue" (click)="onCancel()">
                    </div>

                </div>
            </div>
        </div>
    </div>

</modal>